.arrow {
	position: absolute;
	/* left: 50%; */
    left: -7%;
    top: 55%;
	/* margin-left: -30px; */
	margin-top: -30px;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.arrow:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  left: 30px;
  top: 30px;
  opacity: 1;
  border-radius: 100%;
  background-color: #fff;
}
.arrow .icon-line {
  position: absolute;
  left: 5px;
  height: 8px;
/*  width: 50px;*/
    width: 40px;
  background-color: #fff;
  -webkit-transition: all 300ms ease-out;
          transition: all 300ms ease-out;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}
.arrow .icon-line:first-child {
  -webkit-transform-origin: center 20px;
      -ms-transform-origin: center 20px;
          transform-origin: center 20px;
  top: 10px;
}
.arrow .icon-line:nth-child(2) {
  top: 50%;
  margin-top: -4px;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}
.arrow .icon-line:last-child {
  -webkit-transform-origin: center -12px;
      -ms-transform-origin: center -12px;
          transform-origin: center -12px;
  bottom: 10px;
}
.arrow.anim.in:before, .arrow.anim.out:before {
  -webkit-transition: all 400ms cubic-bezier(0, 0.7, 0.5, 1);
          transition: all 400ms cubic-bezier(0, 0.7, 0.5, 1);
  width: 100px;
  height: 100px;
  left: -20px;
  top: -20px;
  opacity: 0;
}
.arrow.in .icon-line {
  border-radius: 0;
}
.arrow.in .icon-line:first-child {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  width: 35px;
  top: 8.5px;
  left: 16px;
}
.arrow.in .icon-line:nth-child(2) {
  width: 44px;
  left: 11px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow.in .icon-line:last-child {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 35px;
  bottom: 8.5px;
  left: 16px;
}
.arrow.out .icon-line:first-child {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.arrow.out .icon-line:nth-child(2) {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.arrow.out .icon-line:last-child {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.arrow.no-trans .icon-line {
  -webkit-transition: none;
          transition: none;
}
